<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <title>Timelog</title>
</head>
<body>
<ul>
    <li><a  href="index.html"    th:href="@{/}"> Home</a></li>
    <li><a  href="login.html"    th:href="@{/login}"> Login</a></li>
    <li><a  href="register.html" th:href="@{/register}"> Register</a></li>
</ul>
<div class="myCenter">
    <h1>Confirmed!</h1>

    <h2 class="hello-title" th:text="'Hello, ' + ${user.userEmail} + '!'" >Lorem ipsum</h2>

</div>
</body>
</html>