<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="../styles/styles.css" th:href="@{/styles/styles.css}" rel="stylesheet" />
        <title>Timelog</title>
    </head>
    <body>
        <ul>
            <li><a  href="index.html"    th:href="@{/}"> Home</a></li>
            <li><a  href="login.html"    th:href="@{/login}"> Login</a></li>
            <li><a  href="register.html" th:href="@{/register}"> Register</a></li>
        </ul>
        <form action="#" th:action="@{/loginUser}" th:object="${user}" method="post">
            <table border="1">
                <tr>
                    <td>Email:</td>
                    <td><input type="email" th:field="*{userEmail}" required/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" th:field="*{userPassword}" required/></td>
                </tr>

                <tr>
                    <td><input type="reset" value="Reset" /> </td>
                    <td><input type="submit" value="Submit" /></td>

                </tr>

            </table>
        </form>
    </body>
</html>