<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Timelog</title>
        <link href="../styles/styles.css" th:href="@{/styles/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <ul>
            <li><a  href="index.html"    th:href="@{/}"> Home</a></li>
            <li><a  href="login.html"    th:href="@{/login}"> Login</a></li>
            <li><a  href="register.html" th:href="@{/register}"> Register</a></li>
        </ul>
        <form action="#" th:action="@{/registerUser}" th:object="${user}" method="POST">
            <table border="1">
                <tr>
                    <td>User Name:</td>
                    <td><input type="text" th:field="*{userName}" required/></td>
                </tr>
                <tr>
                    <td>Name and Surname:</td>
                    <td><input type="text" th:field="*{name}" required/></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" th:field="*{userEmail}" required/></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" th:field="*{userPassword}" required/></td>
                </tr>
                <tr>
                    <td>Phone: </td>
                    <td><input type="number" th:field="*{userPhone}" required/></td>
                </tr>
                <tr>
                    <td>
                        <input type="reset" value="Reset" />
                        <input type="submit" value="Submit" />
                    </td>
                </tr>

            </table>
        </form>
    </body>
</html>